
* {
    font-family: 'Bona Nova', serif;
}

.container{
    width: 100%;
    max-width: 100%;
    padding: 0 20px 0 20px;
    display: block;
    margin: 0 auto 20px auto;
}

#navbar img {
    width: 40px;
}

.table-sl{
   margin-left: 5px;
   width: 100%;
}

input{
    margin-bottom: 2px;
}

.table-sl ion-icon {
    font-size: 20px;
    margin-right: 5px;
}
.navbar-nav {
    font-weight: lighter;
}

.img-preview{
    width: 1200px;
    margin-top: 10px;
}

#form-delete{
    display: inline-block;
}


.navbar-nav {
    padding: 5px 0;
}

#navbar a {
    font-size: 15px;
    color: #757575;
}

#navbar a:hover {
    color: #F2A340;
}

/*Links da página*/

a:link {

    text-decoration: none;
}

.go-links{
    color: hsl(253, 92%, 51%);
}

a:active{
    color: #e91919;
}

#img{
    margin-left: 20px;
    float: left;
}

#edit-img{
    width: 50px;
    height: 40px;
    margin-bottom: 6px;
    border-radius: 50%;
}

#copy {
    margin-left: 20px;
}
.buttons {
    margin-top: 2px;
    margin-bottom: 10px;
}
.msg{
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
    transition: ease-out;
}

#criarUser{
    margin-right: 5px;
    margin-bottom: 10px;
}
.msg2{
    background-color: #edd4d4;
    color: #571515;
    border: 1px solid #edd4d4;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

#alert-text{
    color: #b93535;
    text-align: center;
    padding: 10px;
}

/*Show page */
#info-container{
    margin-top: 85px;
}

#info-container h1 {
    font-size: 36px;
    font-weight: 900;
}
#info-container p {
    margin: 0;
    font-size: 18px;
    display: flex;
}
#icons{
    color: #693b9e;
    margin-right: 5px;
}

#img-container {
    margin-top:30px;
}

#img-container img {
    margin-right: 2px;
    margin-left: 85px;
    border-radius: 50%;
    width: 500px;
    height: 400px;

}
/*-------*/

.linha{
    display: block;
    margin: 10px auto;
}


/* Barra de pesquisa do site */

.search-box {
    margin: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 40px;
    background: #353E48;
    margin-bottom: 15px;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 16px;
    line-height: 40px;
}

.search-box input{
    color: #F2A340;
}

.search-box input::placeholder{
    color: #ffffff;
}

.search-box button {
    position: relative;
    left: 5%;
    transform: translate(-5%);
    background: none;
    color: #fff;
}

/* Footer da página */

footer {
    position: relative;
    text-align: center;
    background-color: #353E48;
    color: #fff;
    height: 55px;
    bottom: 0;
    padding: 20px;
    width: 100%;
    margin-top: 26px;
}

.footer-second {
    position: fixed;
    text-align: center;
    background-color: #353E48;
    color: #fff;
    height: 59px;
    bottom: 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

footer p {
    margin-bottom: 0;
}

#Btn{
    margin-top: 6px;
    margin-bottom: 6px;
}

#Btn-{
    margin-top: 4px;
}

.h-5{
    padding: 0;
    width: 20px;
    transform: translate3d(0px, 5px, 0px);
}

.text-sm{
    margin-top: 5px;
    padding: 0;
}
/*hovers da pag */

footer:hover {
    color: #F2A340;
}

.search-btn:hover{
    color: #F2A340;
}

#element:hover{
    color: #F2A340;
}